@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-dark-spruce: #30512B;
    --color-sand-dune: #E4DABB;
    --color-blue-slate: #606E7D;
    --color-porcelain: #FCFBF7;
    --color-onyx: #060B06;
    --font-inter: "Inter", sans-serif
}